{% load static %}
   <!-- Footer Start -->
    <footer id="rs-footer" class="bg3 rs-footer">
        <div class="container">
            <!-- Footer Address -->
            <div>
                <div class="row footer-contact-desc">
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <i class="fa fa-map-marker"></i>
                            <h4 class="contact-title">Address</h4>
                            <p class="contact-desc">
                                Near Jain International School, Yerla Village, <br> Kalmeshwar Road, Nagpur, Maharashtra 441501
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <i class="fa fa-phone"></i>
                            <h4 class="contact-title">Phone Number</h4>
                            <p class="contact-desc">
                                +91-8999300998<br> +91-9923280550
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <i class="fa fa-map-marker"></i>
                            <h4 class="contact-title">Email Address</h4>
                            <p class="contact-desc">
                                info@sbjit.edu.in<br> www.sbjit.edu.in
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="about-widget">
                            <img src="{% static 'images/logo1.jpg' %}" alt="Footer Logo">
                            <!-- <p>We create Premium Html Themes for more than three years. Our team goal is to reunite the elegance of unique.</p>
                            <p class="margin-remove">We create Unique and Easy To Use Flexible Html Themes.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h5 class="footer-title">RECENT POSTS</h5>
                        <div class="recent-post-widget">
                            <div class="post-item">
                                <div class="post-date">
                                    <span>28</span>
                                    <span>June</span>
                                </div>
                                <div class="post-desc">
                                    <h5 class="post-title"><a href="#">While the lovely valley team work</a></h5>
                                    <span class="post-category">Keyword Analysis</span>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-date">
                                    <span>28</span>
                                    <span>June</span>
                                </div>
                                <div class="post-desc">
                                    <h5 class="post-title"><a href="#">I must explain to you how all this idea</a></h5>
                                    <span class="post-category">Spoken English</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h5 class="footer-title">OUR SITEMAP</h5>
                        <ul class="sitemap-widget">
                            <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                            <li><a href="about.html"><i class="fa fa-angle-right" aria-hidden="true"></i>About</a></li>
                            <!-- <li><a href="courses.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Courses</a></li> -->
                            <!-- <li><a href="courses-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Courses Details</a></li> -->
                            <!-- <li><a href="events.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Events</a></li> -->
                            <!-- <li><a href="events-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Events Details</a></li> -->
                            <!-- <li><a href="blog.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li> -->
                            <!-- <li><a href="blog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog Details</a></li> -->
                            <!-- <li><a href="teachers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Teachers</a></li> -->
                            <!-- <li><a href="teachers-single.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Teachers Details</a></li> -->
                            <li><a href="contact.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                            <!-- <li><a href="error-404.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Error 404</a></li> -->
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h5 class="footer-title">NEWSLETTER</h5>
                        <p>Sign Up to Our Newsletter to Get Latest Updates &amp; Services</p>
                        <form class="news-form">
                            <input type="text" class="form-input" placeholder="Enter Your Email">
                            <button type="submit" class="form-button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="footer-share">
                    <ul>
                        <li><a href="https://www.facebook.com/officialsbjain/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.sbjit.edu.in/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://twitter.com/officialsbjain?s=09"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/s-b-jain-nagpur-7a65a3153/"><i class="fa fa-linkedin"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-vimeo"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>© 2022 <a href="https://www.sbjit.edu.in/">College Admission And Examination Portal</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- Canvas Menu start -->
    <nav class="right_menu_togle">
        <div class="close-btn"><span id="nav-close" class="text-center">x</span></div>
        <div class="canvas-logo">
            <a href="index.html"><img src="{% static 'images/logo-white.png' %}" alt="logo"></a>
        </div>
        <ul class="sidebarnav_menu list-unstyled main-menu">
            <!--Home Menu Start-->
            <li class="current-menu-item menu-item-has-children"><a href="#">Home</a>
                <ul class="list-unstyled">
                    <li class="sub-nav active"><a href="index.html">Home One<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index2.html">Home Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index3.html">Home Three<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index4.html">Home Four<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Home Menu End-->

            <!--About Menu Start-->
            <li class="menu-item-has-children"><a href="#">About Us</a>
                <ul class="list-unstyled">
                    <li class="sub-nav active"><a href="index.html">About One<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index2.html">About Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index3.html">About Three<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--About Menu End-->

            <!--Pages Menu Start-->
            <li class="menu-item-has-children"><a href="#">Pages</a>
                <ul class="list-unstyled">
                    <li class="sub-nav active"><a href="teachers.html">Teachers<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="teachers-without-filter.html">Teachers Without Filter<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="teachers-single.html">Teachers Single<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="gallery.html">Gallery One<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="gallery2.html">Gallery Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="gallery3.html">Gallery Three<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="shop.html">Shop<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="shop-details.html">Shop Details<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="cart.html">Cart<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="shop.html">Shop<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="error-404.html">Error 404<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Pages Menu End-->

            <!--Courses Menu Star-->
            <li class="menu-item-has-children"><a href="#">Courses</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="courses.html">Courses<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="courses2.html">Courses Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="courses-details.html">Courses Details<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Courses Menu End-->

            <!--Events Menu Star-->
            <li class="menu-item-has-children"><a href="#">Events</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="events.html">Events<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="events-details.html">Events Details<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Events Menu End-->

            <!--blog Menu Star-->
            <li class="menu-item-has-children"><a href="#">Blog</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="blog.html">Blog<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="blog-details.html">Blog Details<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--blog Menu End-->
            <li><a href="contact.html">Contact<span class="icon"></span></a></li>
        </ul>
        <div class="search-wrap">
            <label class="screen-reader-text">Search for:</label>
            <input type="search" placeholder="Search..." name="s" class="search-input" value="">
            <button type="submit" value="Search"><i class="fa fa-search"></i></button>
        </div>
    </nav>
    <!-- Canvas Menu end -->

    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true" class="fa fa-close"></span>
	        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="eg: Computer Technology" type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->

   